@model IEnumerable<CompanyStructureApp.WEB.Models.EmployeeVM>

@{
    ViewData["Title"] = "Manage company structure";
}

<div class="my-3">
    <a asp-action="AddEmployee" class="btn btn-success">Create New</a>
    <a asp-action="Index" asp-route-order="directsubordination" class="btn btn-info">Show by direct subordination</a>
    <a asp-action="Index" asp-route-order="positionheight" class="btn btn-info">Show by position height</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperiorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(new string('-', (int)item.Position))></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuperiorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
            </tr>
}
    </tbody>
</table>
